:root {
    --primary: #d71e5b;
    --secondary: #84dd9e;
    --light: #eee;
    --light-alt: #efe;
    --dark: #131a25;
    --dark-alt: #27292c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.nav-bar {
    background-color: var(--dark-alt);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    color: var(--light);
    font-size: 18px;
}

.nav-item a{
    text-decoration: none;
    color: var(--light);
    padding-left: 20px;
}

.nav-item a:hover {
    color: #d71e5b;
    transition: 0.3s;
}

.logo {
    color: var(--light);
    font-size: 20px;
    font-weight: 800;
}

.form-section {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-heading {
    text-align: center;
    font-size: 30px;
    color: var(--dark);
    margin-top: 5px;
}

.form-container {
    width: 100%;
    max-width: 50rem;
    padding: 20px;
    background-color: var(--dark);
    margin: auto;
}

.form-container label {
    font-weight: 500;
    color: var(--light-alt);
    margin: 5px;
}

.form-container .form-input {
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    outline: none;
}

.form-container .form-input-content{
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 12px;
    height: 300px;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    margin-top: 15px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    background-color: var(--secondary);
}

.submit-btn:hover {
    background-color: var(--primary);
    cursor: pointer;
}

/* for blog content */
.blog-container {
    background-color: var(--light-alt);
    margin: auto;
    padding: 20px 30px;
    width: 100%;
    max-width: 40rem;
    border-radius: 10px;
    border: 2px #d71e5b;
}

.blog-header-text {
    text-align: center;
    font-weight: 600;
}

.blog-title {
    font-size: 16px;
    font-weight: 800;
}

.blog-card{
    border: 2px solid var(--light);
    box-shadow: 2px 3px 0px 3px #eee;
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    width: 100%;
 
}
.blog-content {
    background-color: var(--light-alt);
    font-size: 18px;
    padding: 10px 5px;
}
.blog-author {
    text-align: center;
    font-weight: 700;
}